[Unit]
Description=Airflow Webserver
After=network.target

[Service]
Environment="AIRFLOW_HOME=/home/airflow"
User=airflow
Group=airflow
ExecStart=/home/airflow/.local/bin/airflow webserver --port 8080
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
